---
layout: vanilla
permalink: /data/
description: "Data for Cell Atlas of Worm."
modified: 2017-08-03
tags: [worm, data, atlas]
---
<!DOCTYPE html>
<html lang= "{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <!-- See here for how to use the TOC control:
  https://afeld.github.io/bootstrap-toc/ -->
  <body  data-spy= "scroll" data-target= "#toc">
    {% include header.html %}

    <div class= "container">
      <div class= "row">
        <!-- sidebar, which will move to the top on a small screen -->
        <div class= "col-sm-4">
          <nav id= "toc" data-spy= "affix" data-toggle= "toc"></nav>
        </div>
        <!-- main content area -->


          <h2>Published Data</h2>

            <table class = "table">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Last modified</th>
                  <th>Size</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th><a href = "{{ site.baseurl }}/downloads/monocle_2.3.5.tar" download = "monocle_2.3.5.tar">monocle_2.3.5.tar</a></th>
                  <th>30-Jun-2017 13:02</th>
                  <th>1.3M</th>
                </tr>
                <tr>
                  <th><a href = "{{ site.baseurl }}/downloads/gene_count_UMI_293T_celegans_first.Rdata" download>gene_count_UMI_293T_celegans_first.RData</a></th>
                  <th>27-Jun-2017 11:51</th>
                  <th>1.8M</th>
                </tr>
                <tr>
                  <th><a href = "{{ site.baseurl }}/downloads/gene_count_UMI_293T_celegans_second.Rdata" download>gene_count_UMI_293T_celegans_second.RData</a></th>
                  <th>27-Jun-2017 11:51</th>
                  <th>1.0M</th>
                </tr>
                <tr>
                  <th><a href = "{{ site.baseurl }}/downloads/Gene.count.matrix.human.mouse.5.Rdata" download>Gene.count.matrix.human.mouse.5.Rdata</a></th>
                  <th>27-Jun-2017 11:51</th>
                  <th>2.3M</th>
                </tr>
                <tr>
                  <th><a href = "{{ site.baseurl }}/downloads/Gene.count.matrix.human.mouse.4.Rdata" download>Gene.count.matrix.human.mouse.4.Rdata</a></th>
                  <th>27-Jun-2017 11:51</th>
                  <th>3.5M</th>
                </tr>
                <tr>
                  <th><a href = "{{ site.baseurl }}/downloads/Gene.count.matrix.human.mouse.3.Rdata" download>Gene.count.matrix.human.mouse.3.Rdata</a></th>
                  <th>27-Jun-2017 11:51</th>
                  <th>11M</th>
                </tr>
                <tr>
                  <th><a href = "{{ site.baseurl }}/downloads/Gene.count.matrix.human.mouse.2.Rdata" download>Gene.count.matrix.human.mouse.2.Rdata</a></th>
                  <th>27-Jun-2017 11:51</th>
                  <th>24M</th>
                </tr>
                <tr>
                  <th><a href = "http://waterston.gs.washington.edu/sci_RNA_seq_gene_count_data/?">Gene.count.matrix.human.mouse.1.Rdata</a></th>
                  <th>27-Jun-2017 11:51</th>
                  <th>154M</th>
                </tr>
                <tr>
                  <th><a href = "http://waterston.gs.washington.edu/sci_RNA_seq_gene_count_data/?">Gene.count.matrix.celegans.cell.Rdata</a></th>
                  <th>27-Jun-2017 11:50</th>
                  <th>45M</th>
                </tr>
                <tr>
                  <th><a href = "{{ site.baseurl }}/downloads/Gene.count.matrix.celegans.cell.2.Rdata" download>Gene.count.matrix.celegans.cell.2.Rdata</a></th>
                  <th>27-Jun-2017 11:50</th>
                  <th>7.1M</th>
                </tr>
                <tr>
                  <th><a href = "{{ site.baseurl }}/downloads/Gene.count.matrix.bulk.293T.Rdata" download>Gene.count.matrix.bulk.293T.Rdata</a></th>
                  <th>27-Jun-2017 11:50</th>
                  <th>1.2M</th>
                </tr>
                <tr>
                  <th><a href = "{{site.baseurl}}/downloads/Cao_et_al_2017_vignette.ipynb.txt" download = "Cao_et_al_2017_vignette.ipynb.txt">Cao_et_al_2017_vignette.ipynb</a></th>
                  <th>30-Jun-2017 13:02</th>
                  <th>1.9M</th>
                </tr>
                </tbody>
              </table>



      </div>
    </div>
  </body>
  </html>
