---
layout: vanilla
permalink: /unpub_data/
description: "Unpublished Data for Cell Atlas of Worm."
modified: 2017-08-03
tags: [worm, data, atlas, unpublished]
---
<!DOCTYPE html>
<html lang= "{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  {% include header.html %}

  <div class ="container">
  <div class = "row">

  <h2>Unpublished Data</h2>

  <table class = "table">
    <thead>
    <tr>
      <th>Name</th>
      <th>Last modified</th>
      <th>Size</th>
      <th>Description</th>
    </tr>
    </thead>
    <tbody>
      <tr>
        <th><a href = "{{ site.baseurl }}/gonad/">YA_gonad_cell_type_id.ipynb</th>
        <th>03-Aug-2017</th>
        <th>2.1 MB</th>
      </tr>
    </tbody>
  </table>
