<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{% include head.html %}

<body>
  {% include header.html %}

  <!-- Main jumbotron for a primary marketing message or call to action -->



  <div class="container fifty" style="max-width: 950px">
    <div class="fixOverlayDiv">

        <h1 align = "left">A Cell Atlas of Worm</h1>
        <p class="lead" align = "left">The <i>C. elegans</i> transcriptome at single cell resolution</p>

    </div>

    <div style = "float:right; width:120px; height: 20px;">&nbsp;</div>

    <div class="col-md-12">

      <img src="images/worm-drawing-3.png" alt="..." class="img-responsive" style="width:2000px">

    <br>


    <div class="text-center">
    <p class="lead">
      In <a href = "http://www.biorxiv.org/content/early/2017/02/02/104844">Cao et al. (Science, 2017)</a> we reported single cell RNA-seq of <i>C. elegans</i> larvae at ~50x 'shotgun cellular coverage' using a combinatorial indexing approach (sci-RNA-seq).
    </p>
    <p class="lead">Here, you can download and analyze the data for yourself.</p>
    <p><a class="btn btn-default" href="{{ site.baseurl }}/docs/#use-case-1-expression-pattern-of-a-gene-of-interest" role="button">Get started &raquo;</a></p>
    </div>

    <div style = "float:right; width:120px; height: 20px;">&nbsp;</div>

    <br>
    <br>

    <div class="text-center">
    <p class="lead">We have built this site to make our data as accessible as possible so that others can analyze it for themselves. The <a href="{{ site.baseurl }}/docs/">documentation</a> describes how to download the data and load up the software required to work with it. We also describe how to perform some common tasks such as comparing cell types to find genes that distinguish them. All our analysis code is hosted in a <a href="https://github.com/cole-trapnell-lab/single-cell-worm">GitHub repository</a>, so if you find a problem with it you can submit an issue or contribute a patch.</p>

    </div>

    <div style = "float:right; width:120px; height: 20px;">&nbsp;</div>

    </div>

    <div style = "float:right; width:120px; height: 20px;">&nbsp;</div>

  </div>

  <div style = "float:right; width:120px; height: 20px;">&nbsp;</div>

  <div style= "padding-left:1px;" style="max-width: 950px">
    <div class= "col-md-12 text-center">
    <h2>Explore cell-type specific gene regulation</h2>
    </div>
  </div>

  <div style = "float:right; width:120px; height: 20px;">&nbsp;</div>

  <div class="container fifty" style="max-width: 950px">
      <div class="col-md-12">
        <div class="text-center">
          <img src="images/gene-expression-image.png" style="width:75%"></img>

          <p>Our analysis in Cao et al. associated cells in the sci-RNA-seq data with 27 high-level cell types as well as several neuronal subtypes. You can use the code we provide here to find out how your favorite genes are expressed in each of these cell types.
          <p><a class="btn btn-default" href="{{ site.baseurl }}/docs/#use-case-2-expression-pattern-of-a-gene-of-interest" role="button">View details &raquo;</a></p>
          <br>
        </div>
        <div style = "float:right; width:120px; height: 20px;">&nbsp;</div>
      </div>
      <div style = "float:right; width:120px; height: 20px;">&nbsp;</div>
    </div>
    <div style = "float:right; width:120px; height: 20px;">&nbsp;</div>

    <div class="container fifty" style="max-width: 950px">
      <div class="col-md-12">
        <div class="text-center">

          <h2>Compare cell types through differential expression</h2>
          <img src="images/tsne-1.png" style="width:50%"></img>

            <p>So far, we have confidently classified most of the cells in the Cao et al dataset by major type, and you can extract complete gene expression profiles for each and compare them to one another.
            <p><a class="btn btn-default" href="{{ site.baseurl }}/docs/#use-case-3-differential-expression-between-cell-subsets" role="button">View details &raquo;</a></p>
        </div>
        <div style = "float:right; width:120px; height: 20px;">&nbsp;</div>
      </div>
      <div style = "float:right; width:120px; height: 20px;">&nbsp;</div>
    </div>
    <div style = "float:right; width:120px; height: 20px;">&nbsp;</div>

    <div class="container fifty" style="max-width: 950px">
      <div class="col-md-12">
        <div class="text-center">
          <h2>Characterize new cell subtypes</h2>
          <img src="images/worm-marker-tree.png" style="width:50%"</img>
          <br>
          <br>
          <p>Our preliminary analysis shows that the worm contains cells, such as the ASE neurons, that are transcriptionally unique. That is, each animal contains a single cell that expresses a unique pattern of gene that no other cell shares.  While we know the broad type of each cell, identifying the transcriptome signature of the many subtypes in the worm will be an ongoing project. You can dive into such analyses by reclustering the data.
          <p><a class="btn btn-default" href="{{ site.baseurl }}/docs/#use-case-4-re-clustering-cell-subsets-using-t-sne" role="button">View details &raquo;</a></p>
        </div>
        <div style = "float:right; width:120px; height: 20px;">&nbsp;</div>
      </div>
      <div style = "float:right; width:120px; height: 20px;">&nbsp;</div>
    </div>
    <div style = "float:right; width:120px; height: 20px;">&nbsp;</div>

    <div class="container fifty" style="max-width: 950px">
      <div class="col-md-12">
        <div class="text-center">
          <h2>Help chararacterize the worm transcriptome</h2>
          <img src="images/tsne-2.png" style="width:50%"</img>
          <br>
          <br>
          <p>We also found many clusters of cells that we haven't yet been able to subtype or assign to a precise spot in the worm cell lineage. For example, there are numerous neuron subclusters we haven't yet characterized as one subtype or another. We need your help! If you'd like to contribute to the annotation of the worm transcriptome, <a href="https://groups.google.com/d/forum/worm-cell-atlas">join this google group</a>.
          <p><a class="btn btn-default" href="https://groups.google.com/d/forum/worm-cell-atlas" role="button">Join the group &raquo;</a></p>
        </div>
        <div style = "float:right; width:120px; height: 20px;">&nbsp;</div>
      </div>
      <div style = "float:right; width:120px; height: 20px;">&nbsp;</div>
    </div>
    <div style = "float:right; width:120px; height: 20px;">&nbsp;</div>
<!--
  <div class="row fullscreen">
    <div class="col-md-7 col-md-push-5">
      <h2 class="featurette-heading">Further Experiments</h2>
      <p class="lead">We plan to conduct further sci-RNA-seq experiments aimed at achieving better coverage of rare cell types (especially neurons) and at profiling different stages of development. The data from these experiments will be hosted here. The analysis of these data will be limited however by our ability to conclusively associate sequenced cells with specific anatomical cell types in the worm.</p>


    </div>
    <div class="col-md-5 col-md-pull-7">
      <img class="featurette-image img-responsive center-block" src="{{site.url}}/images/all_cells_marker_heatmap.png" height=300 width=300 alt="Generic placeholder image">
    </div>
  </div>

  <div class="row fullscreen">
    <div class="col-md-7">
      <h2 class="featurette-heading">Community Collaboration</h2>
      <p class="lead">We aim to enlist the help of C. elegans community in both improving the annotation of the original Cao et al. data and in annotating data from future experiments. To facilitate this, we will publish data for additional C. elegans sci-RNA-seq experiments online, prior to publication. This website contains documentation on how to access and start performing your own analysis on the Cao et al. data. It also contains instructions on how to access a new dataset (sequenced in July 2017) which profiles gonad cells from young adult C. elegans.</p>

    </div>


  <div class="col-md-5">
    <img class="featurette-image img-responsive center-block" src="{{site.url}}/images/neuron_pseudotime_changes.png" width=300 height=300 alt="Generic placeholder image">
  </div>

</div>

<div class="row fullscreen">
  <div class="col-md-7 col-md-push-5">
    <h2 class="featurette-heading">Google Group</h2>
    <p class="lead">We have set up a Google Group for discussing the data [INSERT LINK]. We have performed a basic clustering analysis for both datasets. If you think you've found evidence associating a cell type with a specific cluster, please make a post there! We also welcome general comments or demonstrations of alternative technical approaches.</p>

  </div>
  <div class="col-md-5 col-md-pull-7">
    <img class="featurette-image img-responsive center-block" src="{{site.url}}/images/branch_trajectory.png" height=300 width=300 alt="Generic placeholder image">
  </div>

</div>




<div class="row fullscreen">
  <div class="col-md-7">
    <h2 class="featurette-heading">Contact Us</h2>
    <p class="lead"> If you are interested in collaborating with us further, please contact <a href = "mailto:watersto@u.washington.edu?Subject=Cell%20Atlas%20of%20Worm">Bob Waterston</a>, <a href = "mailto:coletrap@uw.edu?Subject=Cell%20Atlas%20of%20Worm">Cole Trapnell</a>, and <a href = "mailto:shendure@uw.edu?Subject=Cell%20Atlas%20of%20Worm">Jay Shendure</a>. We could especially use help with experimental validation of the expression patterns of marker genes. </p>

  </div>


<div class="col-md-5">
  <img class="featurette-image img-responsive center-block" src="{{site.url}}/images/neuron_pseudotime_changes.png" width=300 height=300 alt="Generic placeholder image">
</div> -->

</div>



<footer>
  <small>Shendure, Trapnell, and Waterston labs &copy; 2017</small>
  <small>Jumbotron image derived from original &copy; 2017 Mark Leaver. Used with permission.</small>

</footer>
</div> <!-- /container -->

{% include footer.html %}

</body>

</html>
