<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{% include head.html %}

<body>
  {% include header.html %}

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron" style="background-image: url(images/worm-1-edit.png); background-size: 100%;";>
    <div class="container">
      <div class="text-center">
          <h1>Cell Atlas of Worm</h1>
          <p>The C. elegans transcriptome at single cell resolution</p>
        <p><a class="btn btn-warning btn-lg" href="{{ site.baseurl }}/docs/#installing-monocle" role="button">Get started&raquo;</a></p>
      </div>
    </div>
  </div>



  <div class = "center-text">
    <h2 class = "text-center"> Overview </h2>
    <div class = "col=sm-12" style = "margin-left:3em; margin-right:3em">
    <hr class="featurette-divider" style = "margin-left:1em; margin-right:1em">

  <p style="margin-left:5em;margin-right:5em;text-indent: 2.0em;"> C. elegans is the only animal for which the entire cellular lineage is known.
    In <a href = "http://www.biorxiv.org/content/early/2017/02/02/104844">Cao et al. (Science, 2017)</a> we profiled the transcriptome of whole C. elegans animals at the L2 stage at single cell resolution using a combinatorial indexing approach (sci-RNA-seq).
    This essentially provides a "snapshot" of the dynamic molecular state of the worm in development. </p>

    <p style="margin-left:5em;margin-right:5em;text-indent: 2.0em;">Our analysis in Cao et al. associated cells in the sci-RNA-seq data with 27 high-level cell types as well as several neuronal subtypes, and integration with transcription factor (TF) ChIP-seq data revealed potential regulators of cell type specific gene expression.
    We plan to conduct further sci-RNA-seq experiments aimed at achieving better coverage of rare cell types (especially neurons) and at profiling different stages of development.
    We hope that these data will be useful both for studying gene regulation and more generally for developing and benchmarking methods for single cell analysis.
    The analysis of these data will be limited however by our ability to conclusively associate sequenced cells with specific anatomical cell types in the worm. </p>

    <p style="margin-left:5em;margin-right:5em;text-indent: 2.0em;" class = "indented">We aim to enlist the help of C. elegans community both in improving the annotation of the original Cao et al. data and in annotating data from future experiments.
    <b>To facilitate this, we plan on publishing data for additional C. elegans sci-RNA-seq experiments online, prior to publication.</b>
    This website contains documentation on how to access and start performing your own analysis on the Cao et al. data.
    It also contains instructions on how to access a new dataset (sequenced in July 2017) which profiles gonad cells from young adult C. elegans.
    We have set up a Google Group for discussing the data [INSERT LINK].
    We have performed t-SNE dimensionality reduction and density peak clustering for both datasets.
    If you think you've found evidence associating a cell type with a specific t-SNE cluster, please make a post there!
    We also welcome general comments or demonstrations of alternative technical approaches.
    We do not have specific plans in mind for publication of the next set of experiments.
    If you are interested in collaboration, please contact Bob Waterston, Cole Trapnell, or Jay Shendure.
    We could especially use help with experimental validation of the expression patterns of marker genes. </p>

  </div>
</div>

  <br>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">

      <div class="col-md-4">
        <div class="text-center">
          <img src="images/tsne-1.png" width=300></img>
          <h2>Significant Genes' Expression Patterns</h2>
          <p><a class="btn btn-default" href="{{ site.baseurl }}/docs/#use-case-2-expression-pattern-of-a-gene-of-interest" role="button">View details &raquo;</a></p>
        </div>
      </div>

      <div class="col-md-4">
        <div class="text-center">
          <img src="images/tsne-2.png" width=270></img>
          <h2>Differentially Expressed Genes Between Subsets of Cells</h2>
          <p><a class="btn btn-default" href="{{ site.baseurl }}/docs/#use-case-3-differential-expression-of-cells-subset" role="button">View details &raquo;</a></p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="text-center">
          <img src="images/front_page_plot_3.png" height= 250 width= 250></img>
          <h2>Re-Clustering Data Subsets using t-SNE</h2>
          <p><a class="btn btn-default" href="{{ site.baseurl }}/docs/#use-case-4-re-clustering-data-subsets-using-t-sne" role="button">View details &raquo;</a></p>
        </div>
      </div>
    </div>


                  <!--
                  <ul class="post-list">
                  {% for post in site.posts %}
                  <li><article><a href="{{ site.url }}{{ post.url }}">{{ post.title }} <span class="entry-date"><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %d, %Y" }}</time></span></a></article></li>
                  {% endfor %}
                </ul> -->

                <footer>
                  <p>&copy; 2017</p>
                  <small>Jumbotron image &copy; 2017 Mark Leaver.</small>

                </footer>
              </div> <!-- /container -->

              {% include footer.html %}

            </body>

            </html>
